*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    max-width: auto;
    padding: 24px;
}
.nav-logo{
    width: 90px;
    height: 28px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.Register-btn{
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}